* {
  box-sizing: border-box;
}

body {
  font-family: "montserrat-bold", sans-serif;

}

p,
a,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

a:hover {
  text-decoration: none;
}
div#home{
  height: 110vh;
}
.landing-pg {
  
  background-image: linear-gradient(140deg, #3f8ed2, #d23fc08c, #2c88d88a, #cc00ff8c), url(../images/landing-bg.jpeg);
  background-origin: border-box;
  background-position: top center;
  background-attachment: fixed;
  background-size: cover;
  color: #fff;
  text-align: center;
}

.landing-pg .landing-data h3 {
  font-weight: 750;
  font-size: 1.9rem;
}

.landing-pg .landing-data h1 {
  font-size: 4rem;
  font-weight: 900;
  padding-left: 12rem;
  padding-right: 12rem;
}

.landing-pg .landing-data {
  margin-top: 50vh;
  transform: translateY(-25%);

}

div.menu-wrap {
  position: fixed;
  z-index: 10;
  width: 100%;
  display:none;
}

div.menu-contain {
  /* border:1px solid white; */
  text-align: center;
}

div.menu-contain a {
  color: #fff;
  font-size: 1.2rem;
  border: 1px solid transparent;
  padding: 10px 50px;
  display: inline-block;
  transition: 0.5s;
  background-image: linear-gradient(140deg, #3f8dd283, #2c88d88a);
}

div.menu-contain a:hover {
  text-decoration: none;
  border: 1px solid #d337ac;
}
.next-section{
  text-align: center;
}
.next-section a {
  color: #fff;
  font-size: 4rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  transition:0.2s ease-in-out;
}

.next-section a:hover {
  color: #fff;
  text-decoration: none;
}

.next-section a:active {
  padding-top: 1.5rem;
  padding-bottom: 0.5rem;
  color: #fff;
}

div#about {
  padding: 50px;
}

.section-heading {
  font-family:"montserrat-bold", sans-serif;
  text-align: center;
  display: block;
  color: #3f8dd2;
  font-weight: 550;
  font-size: 1.5rem;
  text-transform: uppercase;

}

.section-heading::before {

  content: "";
  display: block;
  background-color: #707c7b;
  height: 6rem;
  width: 3px;
  margin: 0 auto 1rem;
}

div#about {
  height: 120vh;
}

.section-description {
  font-weight: 900;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 4rem;
  font-family: "librebaskerville-bold", serif;
  font-size: 3rem;
  line-height: 1.4;
  color: #4e5961;
  margin-top: 6rem;
    
}


.section-description span {
  color: #3f8dd2;

}
div#about .next-section a{
  color:#2e383f;
  transition:0.2s ease-in-out;
  
}
div#services .service-data{
  padding:4rem;
}
div#services .landing-pg{
  background-image:linear-gradient(to right,#000000a6,#00000067),url(../images/services-bg.jpeg);

}
div#services .section-heading{
  color:rgba(62, 141, 210, 0.808);
  font-size:1.5rem;
}
.big-heading{  
  font-family: "librebaskerville-bold", serif;
  font-weight:550;
  font-size:2.3rem;
  line-height:2.5rem;
  text-align: center;
}
p.big-heading-data{
  font-family: "montserrat-regular", sans-serif;
    font-size: 1.25rem;
    color: grey;
    padding-bottom:2rem;
    border-bottom:1px solid rgba(87, 84, 84, 0.692);
    font-weight:bold;
  margin:0 auto;
  line-height:2.3rem;

}




































@media(max-width:400px) {
  .landing-pg {
    height: 110vh;
  }

  .landing-pg .landing-data h1 {
    font-size: 1.5rem;
    font-weight: 600;
    padding-left: 4rem;
    padding-right: 4rem;
    letter-spacing: 2px;
  }

  .landing-pg .landing-data h3 {
    font-weight: 700;
    font-size: 1.2rem;
  }
}

@media(max-width:600px) {
  div#home .landing-pg {
    height: 110vh;
  }

  .landing-pg .landing-data h1 {
    font-size: 3rem;
    font-weight: 750;
    padding-left: 4rem;
    padding-right: 4rem;
  }

  .landing-pg .landing-data h3 {
    font-weight: 700;
    font-size: 1.4rem;
  }
  .section-description,.section-description span {
    font-size: 2.1rem;
    font-weight: 550;

  }
  .section-heading{
    font-size:1.7rem;
  }
  .big-heading-data{
    font-size:1.4rem;

  }

}